html {
  background-color: #4f648a;
  margin: 0 17%;
  color: #eee;
  font-size: 142%
}

h1 {
  border-bottom: dotted 2px;
  color: white;
}

h2 {
  margin-top: 7%;
  color: white; 
}

a { color: white; }
a:visited { color: white; }

#footer {
  text-align: center;
  margin-top: 11%;
}
