html {
  background-color: #4f648a;
  margin: 0 17%;
  color: #eee;
  font-size: 142%
}

h2 {
  margin-top: 7%;
  border-bottom: dotted 2px;
  color: #FEFEC3
}

a {
  color: white;
}

#footer {
  text-align: center;
  margin-top: 11%;
}
